.header,
.main {
  padding: 2rem;
}

.nav-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.primary-heading {
  font-size: 2rem;
}

.secondary-heading {
  font-size: 1.5rem;
}

.primary-heading,
.secondary-heading {
  margin-bottom: 1rem;
}

.hero-image {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-list {
    justify-content: flex-end;
  }
}
